.img-product {
    height: 100px;
    width: 100px;
}

.font {
    font-weight: bold;
    color: blue;
}

.link_prod {
    text-decoration: none;
    color: #003300;
}

.link_prod:hover {
   color: darkslateblue;
}